@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-sm md:text-base leading-relaxed; /* 14px on mobile, 16px on desktop, with 1.6 line-height */
  }

  h1, .h1 {
    @apply text-3xl font-bold md:text-4xl lg:text-5xl;
  }
  h2, .h2 {
    @apply text-2xl font-bold md:text-3xl lg:text-4xl;
  }
  h3, .h3 {
    @apply text-xl font-bold md:text-2xl lg:text-3xl;
  }
  h4, .h4 {
    @apply text-lg font-semibold md:text-xl lg:text-2xl;
  }
  p, .p {
    @apply text-base;
  }
}


@layer base {
  :root {
    --background: 330 25% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 45 93% 58%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 45 93% 95%;
    --secondary-foreground: 45 93% 30%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 12.32% 33.95%;
    --accent: 45 93% 58%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 91%;
    --header-border: hsl(var(--border));
    --input: 220 13% 91%;
    --ring: 45 93% 58%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --inspiration-1: 200 100% 90%;
    --inspiration-2: 300 100% 90%;
    --inspiration-3: 150 100% 90%;
    --inspiration-4: 50 100% 90%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 217 33% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 93% 68%;
    --primary-foreground: 45 93% 10%;
    --secondary: 252 14% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 252 14% 22%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 45 93% 68%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 252 14% 32%;
    --header-border: #51637C;
    --input: 252 14% 22%;
    --ring: 45 93% 68%;

    --inspiration-1: 200 50% 20%;
    --inspiration-2: 300 50% 20%;
    --inspiration-3: 150 50% 20%;
    --inspiration-4: 50 50% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-touch {
    @apply min-h-[44px] min-w-[44px];
  }
}
